body {
  height: 100%;
  background: url("back.png") no-repeat center fixed;
  background-size: auto;
  -webkit-background: cover;
  -moz-webkit-background: cover;
  -o-webkit-background: cover;
  background: cover;
  background-size: cover;
}


html, body {
  height: 100%;
  margin: 0px;
}
#root {
  height: 100%;
}
#container { width:1000px; height: 100%; position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; text-align: center;}

#page {height: 100vh; background: #FFFFFF;  padding: 1.1em; position: relative; top: 0; bottom: 0; left: 3px; right: 3px }